.btn-primary {
  background: #fd7f6f;
  color: #b53428;
  opacity: 1;
  border: solid 1px #e77651;
}

.btn {
  &.btn-primary {
    font-size: 14px;
    text-transform: uppercase;
    border-color: transparent;
    border-radius: 6px;
    transition: 0.25s all;
    letter-spacing: 2px;
    color: $c-white;
    font-weight: 700;
    background-image: radial-gradient(circle at 50% 50%, $c-orange, $c-yellow 210%);
    box-shadow: 0 2px 0 0 rgba(255, 0, 0, 0.45) !important;

    &.btn-lg {
      font-size: 17px;
      border-radius: 8px;
      letter-spacing: 2.85px;
      padding: 18px 30px 17px 30px;
      box-shadow: 0 3px 0 0 rgba(255, 0, 0, 0.45) !important;
      
    }
    
    &:active {
      border-color: #e77651 !important;
      box-shadow: none !important;
      transform: translateY(2px);

      &.btn-lg {
        transform: translateY(3px);
      }
    }

    &[disabled] {
      cursor: not-allowed !important;
      background: #fd7f6f;
      color: #b53428;
      opacity: 1;
      border: solid 1px #e77651;
      box-shadow: none !important;
      transform: translateY(2px);

      &.btn-lg {
        transform: translateY(3px);
      }
    }
  }
}