@import '../../styles/base/vars';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 50px 50px;

  @media(max-width: 991px) {
    padding: 30px 30px;
  }

  @media(max-width: 767px) {
    padding: 25px 20px;
  }

  .box {
    max-width: 860px;
    min-height: 486px;
    width: 100%;
    display: flex;
  }


  .payment-invoice {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    padding: 23px 28px;
    position: relative;
    overflow: hidden;

    .info-group {
      &.product {
        p {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          line-height: 42px;
          height: 84px;
        }
      }

      &.amount {
        position: absolute;
        bottom: 23px;
      }
    }
  }
  
  .payment-interface {
    position: relative;
    width: 60%;
    display: inline-block;
    vertical-align: top;
    padding: 23px 28px 90px 28px;
    background-image: linear-gradient(130deg, rgba(79, 172, 254, 0.6), rgba(0, 242, 254, 0.6) 105%);

    .btn-lg {
      position: absolute;
      bottom: 25px;
      left: 28px;
      right: 28px;
      margin: auto;
      width: calc(100% - 56px);
    }
  }

  .form-group-wrapper {
    display: flex;
    justify-content: space-between;

    .form-group {
      &.expiry {
        max-width: 130px;
      }

      &.crv {
        max-width: 88px;
      }
    }
  }

  ::ng-deeps .n .select-icon {

  }

  ::ng-deep .ng-dropdown-panel {
    border: solid 1px rgba(103, 205, 226, 1);
    &.ng-select-bottom {
      border-top-color: #83d0e0;
    }

    .ng-dropdown-panel-items {
      .ng-option {
        background-color: $c-light-blue;
        color: $c-black;
        text-transform: uppercase;
        font-family: $f-roboto;
        letter-spacing: 1px;
        padding: 15px 40px 15px 18px;

        &.ng-option-marked {
          background-color: #ddf0f9;
        }
      }


    }
  }

  #cardNumberInput {
    font-size: 21px;
  }

  ::ng-deep .ng-select {

    .ng-value {
      span.select-icon {
        right: 52px;
        top: 8px;
      }
    }

    span.select-name {
      font-size: 18px;
    }

    span.select-icon {
      position: absolute; 
      right: 12px; 
      top: -12px; 
      height: 20px; 
      width: 60px;

      img {
        display: block;
        height: 48px;
      }
    }

    &.ng-select-single .ng-select-container {
      border: solid 1px rgba(103, 205, 226, 1);
      background-color: $c-light-blue;
      color: $c-black;
      font-family: $f-roboto;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 1;
      padding: 30px 18px 14px 18px;
      border-radius: 3px;
      font-size: 21px;
      letter-spacing: 1px;
      height: 64px;

      span.select-name {
        font-size: 21px;
      }

      .ng-value-container {
        padding: 0;
      }
    }


    .ng-arrow-wrapper {
      width: 25px;
      padding-right: 18px;
      margin-top: -5px;
  
      .ng-arrow {
        border-color: rgba(50, 197, 254, 0.35) transparent transparent !important;
        border-width: 10px 10px 5px;
      }
    } 
  } 
}

