<div class="box">
  <div class="payment-invoice">
    <div class="info-group product">
      <label>Product</label>
      <p>ABCD</p>
    </div>
    <div class="info-group date">
      <label>Date</label>
      <p>08/09/2019 <span>12:03:44</span></p>
    </div>
    <div class="info-group amount">
      <label>Amount</label>
      <p>1123.03 <span>USD</span></p>
    </div>
  </div>
  <div class="payment-interface">
    <app-loading *ngIf="isLoading"></app-loading>
    <ng-container *ngIf="!isLoading && !isSubmitted">
      <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="selectCardType">
            Card Type
          </label>
          <ng-select 
          id="selectCardType"
          placeholder="Select card type"
          [items]="cardTypes"
          [(ngModel)]="cardTypeSelected"
          (change)="updateCardNumberMask()"
          bindLabel="value"
          [clearable]="false"
          formControlName="cardType">
          <ng-template ng-label-tmp let-item="item" >
              <span class="select-name">
                {{ item.value }}
              </span>
              <span class="select-icon" *ngIf="cardTypeSelected" style="position: absolute; right: 10px; top: 0px; height: 20px; width: 60px;">
                <img style="display: block; height: 34px;" src="{{ '/assets/img/logos/' + item.value.toLowerCase() + '.svg' }}">
              </span>
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-index="index">
              <div style="position: relative;">
                <span class="select-name">
                  {{ item.value }}
                </span>
                <span class="select-icon" style="position: absolute; right: 0px; top: -6px; height: 20px; width: 60px;">
                  <img style="display: block; height: 34px;" src="{{ '/assets/img/logos/' + item.value.toLowerCase() + '.svg' }}">
                </span>
              </div>
        </ng-template>
        </ng-select>
        </div>
        <div class="form-group">
          <label for="cardNumberInput">
            Card number
          </label>
          <input 
            [specialCharacters]="[ '-' ]"
            [mask]="cardNumberMask"
            autocomplete="off"
            formControlName="cardNumber" 
            type="text" 
            class="form-control" 
            id="cardNumberInput">
        </div>
        <div class="form-group">
          <label for="expiryInput">
            Expiry
          </label>
          <input 
            autocomplete="off"
            mask="00/00"
            [specialCharacters]="[ '/' ]"
            formControlName="cardExpiry" 
            type="text" 
            class="form-control" 
            id="expiryInput">
        </div>
        <div class="form-group">
          <label for="crvInput">
            CRV
          </label>
          <input 
            autocomplete="off"
            mask="000"
            formControlName="cardCRV" 
            type="password" 
            class="form-control" 
            id="crvInput">
        </div>
        <div class="form-group">
          <label for="nameInput">
            Name
          </label>
          <input 
            autocomplete="off"
            formControlName="cardName" 
            type="text"
            class="form-control" 
            id="nameInput">
        </div>
        <div class="form-group">
          <label for="emailInput">
            Email
          </label>
          <input 
            formControlName="email" 
            type="email" 
            class="form-control" 
            id="emailInput">
        </div>
        <button class="btn btn-lg btn-primary" type="submit" [disabled]="!paymentForm.valid">
          Confirm Payment
        </button>
      </form>
    </ng-container>
    <app-payment-result 
      [paymentResponse]="paymentResponse" 
      [isSuccess]="isSuccess" 
      *ngIf="!isLoading && isSubmitted">
    </app-payment-result>
  </div>
</div>
