// fonts

$f-roboto: 'Roboto', sans-serif;
$f-roboto-light: 'Roboto Condensed', 'Roboto', sans-serif;


// colors

$c-white: #ffffff;
$c-bg: #DAF0FD;
$c-black: #29292a;
$c-dark-blue: #2e5464;
$c-red: #d63a49;
$c-light-blue: #ebf7fd;
$c-gray: #5a717a;
$c-dark-gray: #333333;
$c-yellow: #f4ff9e;
$c-orange: #FF776B;